<%- include('partials/header.ejs') %>

    <form action="/increment" id="increment-form" method="post">
      <button class="increment-btn" type="submit">+1</button>
    </form>
    <div class="date-section">
      <h3 class="date-header">Last Applied: </h3>
      <p class="date"><%= lastApplied %></p>
    </div>
    <a href="/minus" class="redirect-link">Decrement</a>
    <script src="/js/increment.js" async defer></script>

<%- include('partials/footer.ejs') %>